*{
  float: none;
}
html{
  width:100%;
}
body{
  width:100%;
}
.wrapper{ 
  width: 100%;
  min-width: 0;
}
.leftCol{
  display:block;
  width: 100%;
}
.midCol{
  display:block;
  width: 100%;
}
#navBar{
  display:none;
}
#menu-select{
  display:block;
}
.header-bg{
  display:none;
}
#goldLine{
  height: auto;
}
.carousel {
  height: 150px;
  /*margin-bottom: 60px;*/
  width: 100%;
}
.members-data {
  width:85%;
  height: auto;
}
.athlete_name{
  font-size: 2em;
}
.athlete_image {
  display:block;
  position: relative;
  width: 50%;
  margin: auto;
}
.athlete_info{
  width: auto;
  display:block;
  margin: 8px;
}
#mobile_nav{
  width:100%;
  background-color: #003049;
}
select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #CCCCCC;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
