/*
  Author: Daniel Barrundia
  Description: This is the custom theme created for the GT Triathlon
  Date Last Modified: June 5, 2015
  Version: 1.0
*/

/*
COLORS
#E0AA0F = GT gold
003049 = GT navyblue
*/
@charset "UTF-8";
/* CSS Document */
html{
  overflow-y: scroll;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body{
  background-color: #ECECEA;
  z-index: 0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
}
/*------------------------------------------------*/

/* header-bg: fixed area at top of the screen. */

.header-bg {
  width: 100%; 
  height: 44px;
  background-color: #003049;
  position: absolute;
  top: 0;
}
.footer-bg { 
  width: 100%; 
  height: 100px; 
  background-color: #003049; 
  position: relative;
  bottom: 0;
  border-top: solid 2px #E0AA0F;
  box-shadow: 0 -1px 15px rgba(0,0,0,1);
}

/*wrapper : fixed space where all the contect will be contained */
.wrapper{ 
  width: 100%;
  max-width: 980px;
  min-width: 700px;
  margin: 0 auto;
  text-align: left;
  min-height: 100%;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/*------------------------------------------------*/
/*Style for the Navigation Bar at top of the screen*/
#goldLine{
  height: 50px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 100;
}

#navBar{
  font-family: "Courier New", Courier, monospace;
  list-style: none;
}
/* titlePage = My name in the navBar(link homepage) */
#navBar .titlePage{
  float:left;
  margin: 0;
}
#navBar .subtitles{
  float:right;
}
#navBar .titlePage li{
  float: left;
  padding-top: 10px;
  padding-left: 5px;
  font-style: italic;
  font-size: 20px;
  list-style: none;
}
#navBar .titlePage li a:link, a:visited{
    text-decoration: none;
}
#navBar .titlePage li a:hover {
    color: #E0AA0F;
}
/*subtitles = are the links to access on page*/
#navBar .subtitles {
  font-size: 18px;
	margin: 0px;
	height: 38px;
}
#navBar .subtitles li {
	float: right;
  list-style: none;
}
#navBar .subtitles li a:link, a:visited{
	display: block;
	color: #FFF;
	padding: 10px;
	text-decoration: none; 
}
#navBar .subtitles li a:hover{
	background-color: #E0AA0F;
}

#active a{
    display: block;
    background-color: #E0AA0F;
    text-decoration: none;
}
/*END OF NAV BAR HEADER*/
/*------------------------------------------------*/

#mainImage {
	width: 100%;
  height: 400px;
  background: url(images/background_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#calendarMainImage {
  width: 100%;
  height: 300px;
  background: url(images/calendar_image.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.leftCol{
	width: 40%;
 /* height: 100%;*/
	float: right;
  text-align: center;
  margin-bottom: 2%;
}
.midCol{
	width: 60%;
 /* height: 100%;*/
	float: left;
  text-align: center;
  margin-bottom: 2%;
/*  overflow-y: scroll;*/
}
#footer{
	clear: both;
	height: 30px;
	background-color: #003049;
	color: white;
	text-align: center;
	font-size: 11px;
	padding-top: 10px;

}
.footer-bg {
  width: 100%; 
  height: 40px;
  background-color: #003049;
  position: relative;
  margin-top: -40px;
  z-index: -1;
  /*border-top: solid 4px #FDB813;
  border-bottom: solid 4px #FDB813;*/
}
a.wrapper {
/*  padding: 5px 10px;*/
  margin-top: 1em;
  text-decoration: none;
  background-color: #F0F0F0;
/*  margin: 50px auto;*/
  color: #666;
}
a.left{
  float: left;
  /*margin-left: 4em;*/
}
a.right{
  float: right;
  /*margin-right: 4em;*/
}
/* GT Triathlon LOGO */
.social-icon {
  width: 26px;
  padding-left: 20px;
 /* padding-bottom: 8px;*/
}

.social-icon-footer {
  width: 26px;
  padding-left: 10px;
  float: left;
}
/* GT Triathlon HEADER */
.title {
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #E0AA0F;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.subtitle {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
}
.subtitle.smaller {
  font-size: 30px;
}
.content {
/*  background-color: #ECECEA;*/
 /* height:1200px;*/
}
.content.calendar {
  /*height:700px;*/
}

/** SPONSORS **/
.sponsor-div {
  clear: both;
  border-top: solid;
  border-top-color: black;
  width: 100%;
  margin: 0 auto;
 /* height: 250px;*/
  text-align:center;
}
.sponsor-div > a {
  display:inline-block;
}
.sponsor-box123 {
  width:140px;
  height:140px;
  margin:0px 8px 10px 8px;
  float:left;
  border:2px solid #c8c8c8;
  display:table;
  border-radius:11px;
  -webkit-border-radius:11px;
  -moz-border-radius:11px;
}
.sponsor-box123:hover {
  border:2px solid #242424;
}
.sponsor-cell {
  display:table-cell;
  vertical-align:middle;
  text-align:center
}
.sponsor-img {
  max-width:125px;
  max-height:125px;
  height:auto;
  width:auto
}
/** Athletes **/
.members-box {
  min-height: 400px;
  height: auto;
  position: relative;
  width: 95%;
  /*width: -moz-min-content; width: -webkit-min-content; width: min-content;*/
  margin-left: auto;
  margin-right: auto;
  /*background-color: #003049;*/
  text-align: center;
 /* border:2px solid #c8c8c8;
  display:table;
  border-radius:11px;
  -webkit-border-radius:11px;
  -moz-border-radius:11px;*/
}
.members-data {
  /*font-family: 'Raleway', Helvetica, Arial, sans-serif;*/
  text-align: left;
  display: inline-block;
  width: 400px;
  height: 400px;
  padding: 5px;
  margin: 15px;
  border: 5px solid #E0AA0F;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  box-shadow: 10px 10px 5px;
}
.athlete_name{
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
}
.athlete_info{
  width: 200px;
  display:inline-block;
  margin: 8px;
  vertical-align:top;
}
.athlete_title{
  font-weight: bold;
  font-size: 1.8em;
}
.athlete_question{
  font-size:1.2em;
  text-decoration: underline;
}
.athlete_answer{
  font-family: Century Gothic;
  padding-top: 1px;
  color: #003049;
  font-style: italic;
}
.athlete_image {
  display:inline-block;
  position: relative;
  width: 160px;
  margin-left: 20px;
}
.athlete_image img {
  width: 90%;
  margin: 20px auto;
  border: 2px solid #003049;
  /*-webkit-box-shadow: 2px 2px 2px black;
     -moz-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;*/
}
.inline-block11{
  display: inline-block;
  width: 40%;
}
.center1{
  text-align: center;
  width: 100%;
}
.social-icon-athletesPage {
  padding-left: 5px;
  width: 50px;
  border-radius: 20%;
  float:right;
}
/*------- END OF ATHLETES -----------*/
.circular {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: url(images/swimMini.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }
  .paragraph {
  margin-bottom: 15px;
  text-align: center;
  background-color: #F6F6F6;
  /*height: 150px;*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border:1px solid #c8c8c8;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
}
/*YOUTUBE VIDEO*/
.youtube-container { display: block; margin: 20px auto; width: 100%; max-width: 600px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; height: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
